<mat-drawer-container
  class="App drawer-container"
  [hasBackdrop]="!isMiniSidebar"
  (backdropClick)="toggleDrawer()"
>
  <mat-drawer
    mode="side"
    [opened]="true"
    [disableClose]="true"
    [style.width.px]="isMiniSidebar ? 72 : 240"
    class="App__Drawer"
  >
    <div [ngClass]="{ collapsed: isMiniSidebar }">
      <app-sidebar
        [isMiniSidebar]="isMiniSidebar"
        (toggleSidebar)="toggleDrawer()"
      ></app-sidebar>
    </div>
  </mat-drawer>

  <mat-drawer-content class="App__Content">
    <div class="App__Content__Header">
      <app-header (menuToggle)="toggleDrawer()"></app-header>
    </div>
    <div class="App__Content__Main">
      <router-outlet></router-outlet>
    </div>
    <div class="App__Content__Footer">
      <app-footer></app-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
